@model IEnumerable<Ciqual.Models.Famille>

@{
    ViewData["Title"] = "Index";
}

<h1>Familles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TriParId">@Html.DisplayNameFor(model => model.IdFamille)</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TriParNom">@Html.DisplayNameFor(model => model.Nom)</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFamille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
        </tr>
}
    </tbody>
</table>
